<!--property binding and event binding-->
<!--<input type="text"
(input)="onUpdateServerName($event)">-->
<br>
<input type="text"
[(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<br>
<br>

<button [disabled]="!allowNewServer"
(click)="onCreateServer()">add server</button>

<!--<p>{{serverCreationStatus}}</p>-->


<!--change string interpolation to property binding-->
<!--<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>-->

<!--structural directive *ngIf-->
<p *ngIf="serverCreated">server was created, server name is {{serverName}}</p>



<app-server *ngFor="let server of servers"></app-server>